.bg-red{background-color:red;}

.bg-blue{background-color:blue;}

.bg-green{background-color:green;}

.bg-black{background-color:black;}

.color-white{color:white;}

p{
  margin:auto;
  width:25%;
  font-size:20px;
  border-radius:5px;
  margin-bottom:2px;
  text-align: center;
}