.container{
  display:flex;
  justify-content: center;
  gap:50px
}

.container img{
  max-width:55px;
}
p{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
.ronaldo{
  display:flex;
  margin:auto;
  width:50%;
}
